---
layout: page
title: About Audrea
subtitle: A glimpse at the Code Witch
permalink: /about/
image: /images/heroes/hero.jpg
image_hero: /images/heroes/hero.jpg
rainbow_hero: true
---

<article>
  <div class="columns is-vcentered">
    <div class="column">
      <h1>Quick Facts</h1>
      <ul class="highlights ml-4">
        <li>My name is pronounced "Odd-ra." You can call me Aud. My pronouns are "she/her."</li>
        <li>I married my high school sweetheart, Dex Cook. We have two dog daughters, Juniper Rose “Juju” the whippet pup, and Ally the shiba inu mix.</li>
        <li>My areas of genius are literature, crochet, and fish-keeping.</li>
        <li>I live in Colorful Colorado, at the base of Pikes Peak</li>
        <li>“Witchcraft!”  is Aud-speak for “Oooh, that’s cool! I may not know how it works, but I like it.”.</li>
      </ul>

    </div>
    <div class="column">
      <figure style="text-align: center;">
        <img
          src="/images/doggos.jpg"
          alt="Ally and Juju"
          style="height: 250px; display: inline-block"
          />
        <figcaption style="font-size: smaller">
          Juniper Rose and Ally having a cuddle.
        </figcaption>
      </figure>
    </div>
  </div>

  <div>
    <h1>Tech Journey</h1>
    <p>
      You can learn a lot about my professional life on my
      <a href="https://www.linkedin.com/in/audreacook/" target="_blank">LinkedIn</a>
      and
      <a href="https://github.com/AudTheCodeWitch" target="_blank">GitHub</a>
      profiles.
    </p>
  </div>

  <div>
    <h1>The Bigger Picture</h1>
    I crochet. A lot. My crowning crafty achievement is my king-size
    <a
      href="https://www.mooglyblog.com/category/2014-afghan-cal/"
      style="text-decoration: underline"
      target="_blank"
    >MooglyCal</a
    >
    afghan, which I completed in 2017. I am currently working on several new
    projects, including two blankets.

    When I'm not coding or crocheting, I've probably got my nose stuck in a
    book. With a degree in English literature, I just can't help it! My goal
    for the last few years has been to read at least one book a week. If you
    are a fellow bookworm, join me on
    <a
      href="https://www.goodreads.com/user/show/1778734-audrea"
      style="text-decoration: underline"
      target="_blank"
    >GoodReads</a
    >!

  </div>
</article>
