---
layout: page
title: Resume
subtitle: Nitty Gritty Career Stuff
permalink: /about/resume
image: /images/heroes/hero.jpg
image_hero: /images/heroes/hero.jpg
rainbow_hero: true
---
<div class="container has-text-centered">
  <object data="/documents/Resume-AudreaCook.pdf" type="application/pdf" width="800px" height="1000">
    <embed src="/documents/Resume-AudreaCook.pdf" type="application/pdf">
      <p>
        This browser does not support PDFs. Please download the PDF to view it:
        <a href="/documents/Resume-AudreaCook.pdf">Download PDF</a>.
      </p>
    </embed>
  </object>
</div>
