<footer class="footer pb-0">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="logo">
          <span class="navbar-item pl-0">
              <img class='pr-3' src="/images/CodeWitchLogo.png" alt="The Code Witch"/> {{ metadata.title }}
          </span>
        </div>
        <h5 class="">Copyright © Audrea Cook 2021</h5>
        <div class="is-size-7">
          Website content licensed <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
        </div>
      </div>
      <div class="column has-text-centered-tablet" style='margin-top: auto'>

      </div>
      <div class="column has-text-right-tablet">
        <h4>
          <strong>Let's Connect</strong>
        </h4>

        <div class="mt-3">
          <i class="fa fa-twitter is-size-5"></i><a href="https://twitter.com/{{ metadata.twitter }}">@{{ metadata.twitter }}</a>
        </div>

      </div>
    </div>
  </div>
</footer>
