{% rendercontent "bulmatown/navbar", class: "is-dark" %}
  {% with logo %}
    <a class="navbar-item" href="/">
      <img src="/images/CodeWitchLogo.png" alt="The Code Witch"/>
    </a>
  {% endwith %}
  {% with items_start %}
    <a class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/posts">Articles</a>
    <a class="navbar-item" href="/about">About</a>
  {% endwith %}

  {% with items_end %}
    <div class="navbar-item search-item">
      {% render "bridgetown_quick_search/search", placeholder: "Search", input_class: "input" %}
    </div>
    <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/{{ metadata.twitter }}" target="_blank">
      <span class="icon"><i class="fa fa-twitter is-size-6"></i></span>
      <span class="is-hidden-tablet">Twitter</span>
    </a>
  {% endwith %}
{% endrendercontent %}
